<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.maxkey.persistence.mapper.AccountsMapper">

	<sql id="where_statement">
    	<if test="appAccounts.id != null and appAccounts.id != ''">
			AND	ID	=	#{appAccounts.id}
		</if>
		<if test="appAccounts.appId != null and appAccounts.appId != ''">
			AND	APPID	=	#{appAccounts.appId}
		</if>
		<if test="appAccounts.username != null and appAccounts.username != ''">
			AND	USERNAME	=	#{appAccounts.username}
		</if>
		<if test="appAccounts.relatedUsername != null and appAccounts.relatedUsername != ''">
			AND	RELATEDUSERNAME	=	#{appAccounts.relatedUsername}
		</if>
    </sql>



    	<select id="queryPageResults" parameterType="Accounts" resultType="Accounts">
		SELECT
			*
		FROM
			MXK_ACCOUNTS
		WHERE
			 (1=1)
		<include refid="where_statement"/>
	</select>

</mapper>
