<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.maxkey.persistence.mapper.HistoryLoginAppsMapper" >

	<sql id="dao_where_statement">
    	<if test="historyLoginApps.id != null and historyLoginApps.id != ''">
			AND	ID	=	#{historyLoginApps.id}
		</if>
		<if test="historyLoginApps.sessionId != null and historyLoginApps.sessionId != ''">
			AND	SESSIONID	=	#{historyLoginApps.sessionId}
		</if>
		<if test="historyLoginApps.appId != null and historyLoginApps.appId != ''">
			AND	APPID	=	#{historyLoginApps.appId}
		</if>
		<if test="historyLoginApps.appName != null and historyLoginApps.appName != ''">
			AND	APPNAME	LIKE CONCAT('%',#{historyLoginApps.appName},'%')
		</if>
		<if test="historyLoginApps.uid != null and historyLoginApps.uid != ''">
			AND	UID	=	#{historyLoginApps.uid}
		</if>
		<if test="historyLoginApps.username != null and historyLoginApps.username != ''">
			AND	USERNAME	LIKE CONCAT('%',#{historyLoginApps.username},'%')
		</if>
		<if test="historyLoginApps.displayName != null and historyLoginApps.displayName != ''">
			AND	DISPLAYNAME	LIKE CONCAT('%',#{historyLoginApps.displayName},'%')
		</if>

    </sql>

     <select id="queryPageResults" parameterType="HistoryLoginApps" resultType="org.maxkey.domain.HistoryLoginApps">
    	SELECT
			ID,
			SESSIONID,
			APPID,
			APPNAME,
			UID,
			USERNAME,
			DISPLAYNAME,
			DATE_FORMAT(LOGINTIME, '%Y-%m-%d  %H:%i:%s') AS LOGINTIME

    	FROM MXK_HISTORY_LOGIN_APPS
    	WHERE	1	=	1
    	<include refid="dao_where_statement"/>

    	ORDER BY LOGINTIME DESC
    </select>


</mapper>
