<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.maxkey.persistence.mapper.HistoryLogsMapper" >

	<sql id="where_statement">
    	<if test="et.id != null and et.id != ''">
			AND	ID	=	#{et.id}
		</if>
		<if test="et.serviceName != null and et.serviceName != '' ">
			AND	 LOWER(SERVICENAME) LIKE LOWER(CONCAT('%',#{et.serviceName},'%'))
		</if>
		<if test="et.message != null and et.message != '' ">
			AND	 LOWER(MESSAGE) LIKE LOWER(CONCAT('%',#{et.message},'%'))
		</if>
		<if test="et.startDate != null  and et.startDate != '' ">
			AND CREATEDDATE  BETWEEN 	#{et.startDate} AND	#{et.endDate}
		</if>
		<if test="et.createdBy != null and et.createdBy != ''">
			AND	CREATEDBY	=	#{et.createdBy}
		</if>

		<if test="et.username != null and et.username != ''">
			AND	 LOWER(USERNAME) LIKE LOWER(CONCAT('%',#{et.username},'%'))
		</if>
		<if test="et.messageType != null and et.messageType != ''">
			AND	MESSAGETYPE	=	#{et.messageType}
		</if>
		<if test="et.operateType != null and et.operateType != ''">
			AND	OPERATETYPE	=	#{et.operateType}
		</if>
    </sql>


     <select id="queryPageResults" parameterType="HistoryLogs" resultType="org.maxkey.domain.HistoryLogs">
    	SELECT
			ID,
			TID,
			TNAME,
			SERVICENAME ,
			CODE,
			MESSAGE ,
			CONTENT,
			OPERATETYPE,
			MESSAGETYPE,
			USERNAME,
			CREATEDDATE,
			CREATEDBY
    	FROM MXK_HISTORY_LOGS
    	WHERE	1	=	1
    	<include refid="where_statement"/>

    	ORDER BY CREATEDDATE DESC
    </select>

</mapper>
